<h2>About page</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, temporibus et. Praesentium harum asperiores sapiente voluptate maxime rerum molestias sed.</p>

<p>Our people:</p>

<ul>
{{#each people}}
  <li>Name: {{name}} | Age: {{age}}</li>
{{/each}}
</ul>
